/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}
*/
@font-face {
  font-family: 'Quirky Robot';
  src: local("Quirky Robot"), url('./fonts/Quirky Robot.otf') format('otf');
}
@font-face {
  font-family: 'gugi';
  src: local("gugi"), url('./fonts/Gugi-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'rubikGlitch';
  src: local("rubikGlitch"), url('./fonts/RubikGlitch-Regular.ttf') format('truetype');
}

.chakra-container {
  background-image: url(/background1.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}