
@font-face {
  font-family: 'Quirky Robot';
  src: local("Quirky Robot"), url('./fonts/Quirky Robot.otf') format('otf');
}
@font-face {
  font-family: 'gugi';
  src: local("gugi"), url('./fonts/Gugi-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'rubikGlitch';
  src: local("rubikGlitch"), url('./fonts/RubikGlitch-Regular.ttf') format('truetype');
}

body {
  background-image: url(/background1.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.dropShadow {
box-shadow: 0px 20px 48px -12px rgba(00,00,00,0.8);
}