/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}
*/
@font-face {
  font-family: 'Quirky Robot';
  src: local('MyFont'), url('./fonts/Quirky Robot.otf') format('otf');
}